{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">New Purchase</legend>
            <div class="form-row">
                <div class="col">
                    <div class="form-group">
                        {{ form.date.label(class="form-control-label") }}

                        {% if form.date.errors %}
                            {{ form.date(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.date.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.date(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">                  
                        {{ form.amount.label(class="form-control-label") }}
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">$</div>
                            </div>
                            {% if form.amount.errors %}
                                {{ form.amount(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.amount.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.amount(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        {{ form.paid_by.label(class="form-control-label") }}
                        {{ form.paid_by(class="form-control form-control-lg") }}
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <div class="form-group">
                        {{ form.method_id.label(class="form-control-label") }}
                        {{ form.method_id(class="form-control form-control-lg") }}
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        {{ form.card_id.label(class="form-control-label") }}
                        {{ form.card_id(class="form-control form-control-lg") }}
                    </div> 
                </div>
            </div>
            <div class="form-group">
                {{ form.seller.label(class="form-control-label") }}

                {% if form.seller.errors %}
                    {{ form.seller(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.seller.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.seller(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-row">
                <div class="col">
                    <div class="form-group">
                        {{ form.category_id.label(class="form-control-label") }}
                        {{ form.category_id(class="form-control form-control-lg") }}
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        {{ form.subcategory_id.label(class="form-control-label") }}
                        {{ form.subcategory_id(class="form-control form-control-lg") }}
                    </div> 
                </div>
            </div>
            <div class="form-group">
                {{ form.share.label(class="form-control-label") }}
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">{{ user1 }}</div>
                    </div>
                    <div class="input-group-append">
                        <output class="input-group-text" for="share" id="share1">{% if 100-form.share.data<100 %} &nbsp; {% endif %} {% if 100-form.share.data<10 %} &nbsp; {% endif %} {{ 100-form.share.data }}%</output>
                    </div>
                    &nbsp;&nbsp;&nbsp;
                    {{ form.share(class="form-control form-control-lg", oninput="outputUpdate(value)") }}
                    &nbsp;&nbsp;&nbsp;
                    <div class="input-group-prepend">
                        <output class="input-group-text" id="share2">{% if form.share.data<100 %} &nbsp; {% endif %} {% if form.share.data<10 %} &nbsp; {% endif %}{{ form.share.data }} %</output>
                    </div> 
                    <div class="input-group-append">
                        <div class="input-group-text">{{ user2 }}</div>
                    </div>
                </div>
            </div>
      
            <div class="form-group">
                {{ form.notes.label(class="form-control-label") }}
                {% if form.notes.errors %}
                    {{ form.notes(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.notes.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.notes(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>

{% endblock content %}
