{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">
                <div class="row">
                    <div class="col">
                        Personal Accounts
                    </div>
                    <div class="col-4">
                        <a href="{{ url_for('new_method') }}">Add a personal account</a>
                    </div>
                </div>
            </legend>
            <p class='text-muted'>Personal accounts are settled automatically - no need to add payments  (e.g., eTransfer, Cash):</p>
            <div class="table-responsive">
                <table class="table table-striped">
                    <caption>List of personal accounts</caption>
                    <thead>
                    <tr>
                        <th scope="col"> Personal Accounts </th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for method in method_list %}
                        <tr> 
                            <td >{{ method }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>  
            </div>
            {% if false %}
                <ul class="list-group">
                    {% for method in method_list %}
                    <li class="list-group-item list-group-item-light">{{method}}</li>
                    {% endfor %}
                    {% if false %}
                    <a class="nav-item nav-link" href="{{ url_for('new_method') }}">New Method</a>
                    {% endif %}
                </ul>
            {% endif %}

        </fieldset>

    </form>
</div>
<div class="content-section">
    <form method="POST" action="">
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">
                <div class="row">
                    <div class="col">
                        Shared Accounts
                    </div>
                    <div class="col-4">
                        <a href="{{ url_for('new_card') }}">Add a shared account</a>
                    </div>
                </div>
            </legend>
            <p class='text-muted'>Shared accounts must be settled through payments (e.g., joint credit cards):</p>
            <div class="table-responsive">
                <table class="table table-striped">
                    <caption>List of joint accounts</caption>
                    <thead>
                    <tr>
                        <th scope="col"> Joint Account </th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for card in card_list %}
                        <tr> 
                            <td >{{ card }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>  
            </div>

            {% if false %}
            <ul class="list-group">
                {% for card in card_list %}
                <li class="list-group-item list-group-item-light">{{card}}</li>
                {% endfor %}
                {% if false %}
                <a class="nav-item nav-link" href="{{ url_for('new_card') }}">New join account</a>
                {% endif %}
            </ul>
            {% endif %}

        </fieldset>

    </form>
</div>
{% endblock content %}